### 通用配置文件 ###

CONFIG_DEVEL=y
CONFIG_TARGET_OPTIONS=y
CONFIG_TARGET_OPTIMIZATION="-O3 -pipe -march=armv8-a+crypto+crc -mcpu=cortex-a53+crypto+crc -mtune=cortex-a53"

CONFIG_CCACHE=y
CONFIG_PACKAGE_default-settings=y
CONFIG_PACKAGE_default-settings-chn=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_LUCI_LANG_zh_Hant=y

# CONFIG_FEED_nss_packages is not set
# CONFIG_FEED_sqm_scripts_nss is not set
# CONFIG_TARGET_ROOTFS_INITRAMFS is not set

CONFIG_PACKAGE_zram-swap=y
CONFIG_PACKAGE_kmod-lib-lz4=y
CONFIG_KERNEL_ZRAM_BACKEND_LZ4=y
CONFIG_KERNEL_ZRAM_BACKEND_LZO=y
CONFIG_KERNEL_ZRAM_DEF_COMP_LZ4=y

CONFIG_PACKAGE_tmux=y
CONFIG_PACKAGE_dmesg=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_btop=y
CONFIG_PACKAGE_fdisk=y
CONFIG_PACKAGE_cfdisk=y
CONFIG_PACKAGE_sgdisk=y
CONFIG_PACKAGE_tune2fs=y
CONFIG_PACKAGE_ariang=n
CONFIG_PACKAGE_fstrim=y
CONFIG_PACKAGE_nano-full=y
CONFIG_PACKAGE_autocore=n
CONFIG_PACKAGE_coremark=n
CONFIG_PACKAGE_hdparm=y
CONFIG_PACKAGE_smartmontools-drivedb=y
CONFIG_PACKAGE_zoneinfo-asia=y
CONFIG_PACKAGE_acme-acmesh-dnsapi=n
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_ddns-scripts-cloudflare=n
CONFIG_PACKAGE_sqm-scripts-nss=y

CONFIG_PACKAGE_luci-theme-aurora=y
CONFIG_PACKAGE_luci-app-aurora-config=y
CONFIG_PACKAGE_luci-theme-argon=n
CONFIG_PACKAGE_luci-app-argon-config=n
CONFIG_PACKAGE_luci-app-cpufreq=n
CONFIG_PACKAGE_luci-app-ddns=n
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-upnp=n
CONFIG_PACKAGE_luci-app-wol=n
CONFIG_PACKAGE_luci-app-samba4=n
CONFIG_PACKAGE_luci-app-vlmcsd=n
CONFIG_PACKAGE_luci-app-aria2=n
CONFIG_PACKAGE_luci-app-autoreboot=n
CONFIG_PACKAGE_luci-app-wifischedule=n
CONFIG_PACKAGE_luci-app-uhttpd=y
CONFIG_PACKAGE_luci-app-frps=n
CONFIG_PACKAGE_luci-app-frpc=n
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-app-hd-idle=n
CONFIG_PACKAGE_luci-app-banip=n
CONFIG_PACKAGE_luci-app-acme=n
CONFIG_PACKAGE_luci-app-arpbind=n
CONFIG_PACKAGE_luci-app-usb-printer=n
CONFIG_PACKAGE_luci-app-oaf=n
CONFIG_PACKAGE_luci-app-sqm=y
CONFIG_PACKAGE_luci-proto-wireguard=n
CONFIG_PACKAGE_luci-app-wechatpush=n
CONFIG_PACKAGE_luci-app-watchcat=n
CONFIG_PACKAGE_luci-app-3cat=n
CONFIG_PACKAGE_luci-app-smartdns=n
CONFIG_PACKAGE_luci-app-gecoosac=n

CONFIG_BPF=y
CONFIG_BPF_SYSCALL=y
CONFIG_BPF_JIT=y
CONFIG_CGROUPS=y
CONFIG_KPROBES=y
CONFIG_NET_INGRESS=y
CONFIG_NET_EGRESS=y
CONFIG_NET_SCH_INGRESS=m
CONFIG_NET_CLS_BPF=m
CONFIG_NET_CLS_ACT=y
CONFIG_BPF_STREAM_PARSER=y
CONFIG_DEBUG_INFO=y
# CONFIG_DEBUG_INFO_REDUCED is not set
CONFIG_DEBUG_INFO_BTF=y
CONFIG_KPROBE_EVENTS=y
CONFIG_BPF_EVENTS=y

CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_FEATURE_TOP_CPU_USAGE_PERCENTAGE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_TOP_CPU_GLOBAL_PERCENTS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_TOP_DECIMALS=y
CONFIG_PACKAGE_nss-diag=y
CONFIG_KERNEL_DEBUG_FS=y
CONFIG_KERNEL_DEBUG_INFO=y

CONFIG_PACKAGE_luci=y

CONFIG_PACKAGE_firewall4=y
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_ip6tables-nft=y
CONFIG_PACKAGE_iptables-mod-extra=y         
CONFIG_PACKAGE_libxtables12=y               

CONFIG_PACKAGE_kmod-veth=y                   
CONFIG_PACKAGE_kmod-br-netfilter=y           
CONFIG_PACKAGE_kmod-ipt-nat=y
CONFIG_PACKAGE_kmod-ipt-nat6=y
CONFIG_PACKAGE_kmod-ipt-physdev=y
CONFIG_PACKAGE_kmod-ipt-extra=y              
CONFIG_PACKAGE_kmod-ipt-conntrack=y
CONFIG_PACKAGE_kmod-ipt-ipset=y
CONFIG_PACKAGE_kmod-ipt-raw=y
CONFIG_PACKAGE_kmod-nf-ipvs=y               
CONFIG_PACKAGE_kmod-ifb=y
CONFIG_PACKAGE_kmod-sched-core=y
CONFIG_PACKAGE_kmod-crypto-blake2b=y
CONFIG_PACKAGE_kmod-crypto-hash=y
CONFIG_PACKAGE_kmod-crypto-xxhash=y
CONFIG_PACKAGE_kmod-lib-xxhash=y
CONFIG_PACKAGE_kmod-lib-crc32c=y
CONFIG_PACKAGE_kmod-crypto-crc32c=y
CONFIG_PACKAGE_kmod-lib-lzo=y
CONFIG_PACKAGE_kmod-crypto-acompress=y
CONFIG_PACKAGE_kmod-lib-raid6=y
CONFIG_PACKAGE_kmod-lib-xor=y
CONFIG_PACKAGE_kmod-lib-zlib-deflate=y
CONFIG_PACKAGE_kmod-lib-zlib-inflate=y
CONFIG_PACKAGE_kmod-lib-zstd=y

CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_kmod-fs-ntfs=y
CONFIG_PACKAGE_kmod-fs-btrfs=y
CONFIG_PACKAGE_btrfs-progs=y
CONFIG_PACKAGE_kmod-fs-f2fs=y

CONFIG_PACKAGE_kmod-usb-core=y
CONFIG_PACKAGE_kmod-usb-ehci=y
CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-extras=y
CONFIG_PACKAGE_kmod-scsi-core=y
CONFIG_PACKAGE_kmod-scsi-generic=y
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_ca-bundle=y
CONFIG_PACKAGE_libustream-mbedtls=y

CONFIG_PACKAGE_zlib=y
CONFIG_PACKAGE_liblzo2=y
CONFIG_PACKAGE_libattr=y
CONFIG_PACKAGE_libblkid1=y
CONFIG_PACKAGE_libuuid1=y
CONFIG_PACKAGE_librt=y
CONFIG_PACKAGE_libpthread=y
CONFIG_PACKAGE_libgcc1=y
CONFIG_PACKAGE_libmount1=y
CONFIG_PACKAGE_libseccomp=y

CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_uhttpd=y
CONFIG_PACKAGE_luci-lib-base=y
CONFIG_PACKAGE_lua=y
CONFIG_PACKAGE_liblucihttp-lua=y
CONFIG_PACKAGE_libiwinfo-lua=y
CONFIG_PACKAGE_rpcd=y

CONFIG_PACKAGE_terminfo=y
CONFIG_PACKAGE_zoneinfo-core=y

CONFIG_PACKAGE_luci-app-filebrowser=y
